<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 8 align= center>Información</font>
  </a>

<tr> <td>
  <div class="panel-footer" align= left >fecha: <%= @agenda.fecha %><br></div>

</tr>
</div>
<%= link_to 'volver', volver_agenda_path %>
