
<div class="col-md-12 col-md-offset-0,5">
  <div class="list-group" ALIGN=center>
    <a  class="list-group-item active">
      <h1 FACE= "roman" size= 12 align= center>Sección de Agendas</h1>
    </a>
    <a class="list-group-item"><%= button_to 'Listar Agendas', listar_agenda_path, class:'btn btn-warning'%> </a>
    <a  class="list-group-item"><%= button_to 'Nuevo Agenda', nuevo_agenda_path, class:'btn btn-warning'%></a>

  </div>
</div>
