<div class="list-group" >
  <a class="list-group-item active" >
    <font FACE= "roman" size= 12 align= center>Insumos registrados</font>
  </a>
  <div class="text-center">
    <span class="glyphicon glyphicon-plus text-success"></span><%=link_to "Registar", nuevo_gastado_path(:motivo => params[:id]), method: :post%>
  </div>
<table class="table">
  <tr>
    <th class="text-center">Nombre</td>
    <th class="text-center">Cantidad</td>
  </tr>
   <% @gastados.each do |a| %>
   <% if  params[:id] == a.agenda_id.to_s%>
   <tr >
        <td align= center><%= a.insumo.nombre%></td>
        <td align= center><%= a.cantidad%></td>
        <td><%= button_to a, :class => "btn btn-danger", method: :delete, data: {confirm: 'Desea Continuar'} do %>
              <span class="glyphicon glyphicon-trash"></span>
          <% end %></td>
    </tr>
  <%end%>
  <%end%>
</div>
</table>
