<div class="container">
    <br />
	<div class="row">

        <div class="dual-list list-left col-md-3">
            <div class="well text-right">
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                            <input type="text" name="SearchDualList" class="form-control" placeholder="Filtar" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Cariologia</li>
                    <li class="list-group-item">Endodoncia</li>
                    <li class="list-group-item">Gnatologia</li>
                    <li class="list-group-item">Implantologia_dental</li>
                    <li class="list-group-item">Odontogeriatria</li>
                    <li class="list-group-item">Odontologia_estetica</li>
                    <li class="list-group-item">Odontologia_forense</li>
                    <li class="list-group-item">Odontologia_preventiva</li>
                    <li class="list-group-item">Odontologia_restauradora</li>
                    <li class="list-group-item">Odontopediatria</li>
                    <li class="list-group-item">Periodoncia</li>
                    <li class="list-group-item">Radiologo_dentomaxilofacial</li>
                    <li class="list-group-item">Patologo_bucomaxilofacial</li>
                    <li class="list-group-item">Cirujano_maxilofacial</li>
                    <li class="list-group-item">Restauracion_dental</li>
                    <li class="list-group-item">Prostodoncista</li>
                    <li class="list-group-item">Ordotencista</li>
                </ul>
            </div>
        </div>

        <div class="list-arrows col-md-1 text-center">
            <button class="btn btn-default btn-sm move-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button class="btn btn-default btn-sm move-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>

        <div class="dual-list list-right col-md-3">
            <div class="well">
                <div class="row">
                    <div class="col-md-2">
                        <div class="btn-group">
                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" class="form-control" placeholder="Buscar" />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Ninguno</li>
                </ul>
            </div>
        </div>

	</div>
</div>
