
<div class="col-md-12 col-md-offset-0,5">
  <div class="list-group" ALIGN=center>
    <a  class="list-group-item active">
      <h1 FACE= "roman" size= 12 align= center>Sección de Tratamientos</h1>
    </a>
    
  </div>
</div>
