<div class="jumbotron text-center">
  <h1>CLINICA </h1>
  <p>Software para clinica dental </p>
</div>
<div class="col-md-4">
    <div class="imagen_logo">
       <%= image_tag "slider2dental.jpg"%>
    </div>
</div>
