
<div class="col-md-8 col-md-offset-2">
  <div class="well well-lg text-center">
    <h1 class="">Insumos</h1>
  </div>
</div>
<div class="col-md-4 col-md-offset-4">
  <div class="list-group" ALIGN=center>
    <a class="list-group-item"><%= button_to 'Listar insumos', listar_insumo_path, class:'btn btn-primary'%> </a>
    <a  class="list-group-item"><%= button_to 'Nuevo insumo', nuevo_insumo_path, class:'btn btn-primary'%></a>
  </div>
</div>
