
<div class="col-md-8 col-md-offset-2">
  <div class="well well-lg text-center">
    <h1 class="">Insumos</h1>
  </div>
</div>
<div class="col-md-4 col-md-offset-4">
  <div class="list-group" ALIGN=center>
<<<<<<< HEAD
    <a class="list-group-item"><%= button_to 'Listar insumos', listar_insumo_path, class:'btn btn-primary'%> </a>
    <a  class="list-group-item"><%= button_to 'Nuevo insumo', nuevo_insumo_path, class:'btn btn-primary'%></a>
=======
    <a  class="list-group-item active">
      <h1 FACE= "roman" size= 12 align= center>Sección de Insumos</h1>
    </a>
    <a class="list-group-item"><%= button_to 'Listar insumos', listar_insumo_path, class:'btn btn-warning'%> </a>
    <a  class="list-group-item"><%= button_to 'Nuevo insumo', nuevo_insumo_path, class:'btn btn-warning'%></a>

>>>>>>> 439d734e48f12334ebcea5da8acafc371fca066a
  </div>
</div>
