
<div class="list-group" ALIGN=center>
  <a  class="list-group-item active">
    <h1>Insumos</h1>
  </a>
  <a class="list-group-item"><%= button_to 'Listar insumos', listar_insumo_path %> </a>
  <a  class="list-group-item"><%= button_to 'Nuevo insumo', nuevo_insumo_path %></a>

</div>
