
<div class="col-md-12 col-md-offset-0,5">
  <div class="list-group" ALIGN=center>
    <a  class="list-group-item active">
      <h1 FACE= "roman" size= 12 align= center>Sección de Permisos</h1>
    </a>
    <a class="list-group-item"><%= button_to 'Listar Permisos', listar_grado_path, class:'btn btn-primary'%> </a>
    <a  class="list-group-item"><%= button_to 'Nuevo Permiso', nuevo_grado_path, class:'btn btn-primary'%></a>

  </div>
</div>
